.headerContainer {
    width: 100vw;
    background-color: #2b2f35;
    height: 4rem;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.logoText {
    font-family: "Kanit";
    font-size: 24px;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    color: #7f7;
}

.profileCircle {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #2b2f35;
    background: #7f7;
    box-shadow: 4px 4px 10px #111318, -4px -4px 10px #667078;
    border: none;
    transition: transform;
    transition-duration: 200ms;
    cursor: pointer;
}
.profileCircle:hover {
    transform: scale(1.05);
}
.profileCircle:active {
    transform: scale(0.95);
}
